@model  Time


    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mascote"></label>
        <input asp-for="Mascote" />
    </div>
    <div>
        <label asp-for="Esporte"></label>
        <select asp-for="Esporte"
                asp-items="@Html.GetEnumSelectList<Esporte>()">
            <option>Selecione</option>
        </select>
    </div>
    <fieldset>
        <legend>Treinador</legend>
        <div class="form-group">
            <label asp-for="Tecnico.Nome"></label>
            <input asp-for="Tecnico.Nome" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Tecnico.Salario"></label>
            <input asp-for="Tecnico.Salario" class="form-control" />
        </div>
    </fieldset>